#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}


body {
  font-family: Arial, sans-serif;
}

#search-form {
  margin-bottom: 20px;
}

.user, .repo {
  margin: 10px 0;
}

.user img {
  border-radius: 50%;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #0077b6;
}
